@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #fff5eb;
  width: 100%;
  height: 75px; }

.logo {
  left: 15px;
  top: 2px;
  position: absolute;
  width: 65%;
  height: 90%; }

#menu-check:not(:checked) ~ nav {
  display: none; }

#menu-check:checked ~ nav {
  display: block; }

#menu-check {
  display: none; }

#menu {
  left: 20px;
  top: 2px;
  position: relative;
  color: black;
  background-color: transparent;
  font-size: 1em;
  z-index: 9999; }

#menu-cerrar {
  display: none; }

#menu-check:checked ~ label #menu-abrir {
  display: none; }

#menu-check:checked ~ label #menu-cerrar {
  display: block; }

.baner {
  position: relative;
  background-image: url(../assets/image/libro-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 75px; }

.baner nav {
  position: absolute;
  width: 100%;
  background-color: #e8dbc5;
  padding-top: 2px;
  padding-right: 20px;
  opacity: 90%; }

.baner nav ul {
  list-style: none;
  padding: 15px 0 0 20px; }

.baner nav ul li {
  padding: 1px;
  font-size: 7px;
  font-family: 'Bona Nova', serif;
  font-weight: bold; }

.baner nav ul a {
  color: black;
  text-decoration: none; }

/* redes */
.redes {
  left: 0;
  top: 5px;
  display: flex;
  list-style: none; }

.redes li {
  padding: 5px; }

.redes li img {
  width: 10px; }

/* carrito */
#carrito {
  left: 95%;
  top: 14px;
  position: absolute;
  width: 30px; }

.descripcion {
  position: relative;
  width: 100%;
  height: 510px;
  background-color: #fff5eb; }

.imagenes {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "familia familia collar collar" "familia familia collar collar"; }

.carta5:hover {
  transform: scale(0.9); }

.carta6:hover {
  transform: scale(0.9); }

.familia {
  object-fit: cover;
  grid-area: familia;
  position: absolute;
  width: 60%;
  height: 30%;
  left: 10px;
  padding: 15px 0 15px 15px; }

.collar {
  object-fit: cover;
  grid-area: collar;
  padding: 5px 30px 5px 0;
  width: 100%;
  height: 100%; }

.texto h2 {
  font-family: 'Bona Nova', serif;
  font-size: 15px;
  text-align: center;
  color: black; }

.texto p {
  font-family: 'Bona Nova', serif;
  font-size: 9px;
  padding: 3px 10px 3px 10px;
  text-align: justify;
  color: black; }

.cards {
  width: 100%;
  height: 500px;
  background-color: #fff2e5;
  gap: 15px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr) 2px;
  grid-template-areas: "carta1 carta1 carta2 carta2" "carta1 carta1 carta2 carta2" "carta3 carta3 carta4 carta4" "carta3 carta3 carta4 carta4"; }

.carta1 {
  grid-area: carta1; }

.carta2 {
  grid-area: carta2; }

.carta3 {
  grid-area: carta3; }

.carta4 {
  grid-area: carta4; }

.carta1:hover {
  transform: scale(0.9); }

.carta2:hover {
  transform: scale(0.9); }

.carta3:hover {
  transform: scale(0.9); }

.carta4:hover {
  transform: scale(0.9); }

.carta img {
  width: 100%;
  height: 100%; }

.carta p {
  text-align: center;
  font-family: 'Bona Nova', serif;
  font-size: 9px;
  color: black; }

.call-to-action {
  width: 100%;
  height: 60px;
  background-color: #fff5eb;
  background-image: url(../assets/image/vela-1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 90%; }
  .call-to-action div {
    text-align: center;
    position: relative; }
  .call-to-action h2 {
    font-size: 13px;
    font-family: 'Bona Nova', serif;
    padding: 13px 0 2px 0; }

.call-to-action button {
  font-family: 'Bona Nova', serif;
  font-size: 16px;
  padding: 2px 6px 2px 6px;
  border-radius: 15px;
  border: 1px solid;
  border-color: #e8dbc5;
  box-shadow: 1px 1px 10px #e8dbc5;
  background-color: #fff5eb; }

.call-to-action button:hover {
  background-color: #fff2e5; }

.footer-principal {
  background-color: #fff2e5;
  width: 100%;
  height: 40px; }

.redes-footer {
  position: absolute;
  display: flex;
  list-style: none;
  padding: 9px 0 0 10px; }
  .redes-footer li {
    padding: 5px; }
  .redes-footer img {
    width: 13px; }

.logo-footer {
  padding: 5px 5px 0 0;
  display: flex;
  justify-content: right; }
  .logo-footer img {
    width: 80px; }

.copy {
  width: 100%;
  height: 13px;
  background-color: #e8dbc5; }
  .copy p {
    padding-top: 2px;
    text-align: center;
    font-family: 'Bona Nova', serif;
    font-size: 7px; }

.footer-principal-2 {
  background-color: #fff5eb;
  width: 100%;
  height: 40px; }

.frase {
  width: 100%;
  height: 20px;
  background-color: #fff2e5; }
  .frase p {
    font-family: 'Bona Nova', serif;
    text-align: center;
    font-size: 10px;
    padding-top: 6px;
    font-style: normal;
    color: black; }

.carta p {
  font-family: 'Bona Nova', serif;
  color: black; }

.cards-accesorios {
  width: 100%;
  height: 760px;
  background-color: #fff2e5;
  gap: 28px 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr) 2px;
  grid-template-areas: "carta1 carta1 carta2 carta2" "carta1 carta1 carta2 carta2" "carta3 carta3 carta4 carta4" "carta3 carta3 carta4 carta4" "carta5 carta5 carta6 carta6" "carta5 carta5 carta6 carta6"; }

.carta1 {
  grid-area: carta1; }

.carta2 {
  grid-area: carta2; }

.carta3 {
  grid-area: carta3; }

.carta4 {
  grid-area: carta4; }

.carta5 {
  grid-area: carta5; }

.carta6 {
  grid-area: carta6; }

/* Responsive 280 */
@media (min-width: 280px) {
  .descripcion {
    height: 550px; }
  .texto h2 {
    margin-top: 8px;
    font-size: 12px; }
  .texto p {
    font-size: 8.5px; }
  .redes li {
    padding: 0 5px 0 5px; }
  .redes li img {
    width: 11px; }
  .cards {
    height: 450px; } }

/* Responsive 375 */
@media (min-width: 375px) {
  .descripcion {
    height: 473px; }
  .texto h2 {
    margin-top: 7px; }
  .texto p {
    font-size: 9.1px; }
  .familia {
    width: 60%;
    height: 32%;
    margin: 4px 0 0 10px; }
  .collar {
    padding-right: 40px;
    width: 105%;
    height: 105%; } }

/* Responsive 425 */
@media (min-width: 425px) {
  .descripcion {
    height: 516px; }
  .texto h2 {
    margin-top: 12px; }
  .texto p {
    font-size: 9.5px; }
  .familia {
    width: 60%;
    height: 32%;
    margin: 2px 0 0 9px; }
  .collar {
    padding-right: 45px;
    width: 110%;
    height: 110%; }
  .redes li img {
    width: 14px; } }

/* Responsive 768 */
@media (min-width: 768px) {
  /* header */
  header {
    height: 115px; }
  .baner {
    height: 115px; }
  /* menu hamburguesa a nav común */
  #menu-check:not(:checked) ~ nav {
    display: inline; }
  #menu-check:checked ~ nav {
    display: inline; }
  #menu-check {
    display: none; }
  #menu {
    display: none; }
  #menu-cerrar {
    display: none; }
  .baner nav {
    background-color: transparent;
    width: 100%;
    padding-top: 87px; }
    .baner nav ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none; }
  .baner nav ul li {
    font-size: 12px;
    font-family: 'Bona Nova', serif;
    font-weight: bold; }
  /**** logo y redes****/
  .logo {
    width: 50%;
    height: 86%;
    left: 25%;
    top: 1px; }
  .redes {
    left: 90%; }
    .redes li {
      padding: 8px; }
  .redes li img {
    width: 16px; }
  /* main descripción */
  .descripcion {
    height: 825px; }
  .imagenes {
    padding-top: 5px;
    width: 100%;
    height: 350px; }
  .familia {
    width: 65%;
    height: 43%;
    margin-left: 10px; }
  .texto h2 {
    margin-top: 36px;
    font-size: 20px;
    text-align: center; }
  .texto p {
    font-size: 13px;
    padding: 4px 25px 2px 25px;
    text-align: justify;
    margin-top: 8px; }
  /**** cards index ****/
  .cards {
    height: 950px;
    gap: 25px 10px; }
  .carta p {
    font-size: 15px; }
  /* call to action */
  .call-to-action {
    height: 80px; }
  .call-to-action div h2 {
    font-size: 16px;
    padding: 15px 0 6px 0; }
  .call-to-action div button {
    font-size: 18px;
    padding: 3px 7px 3px 7px; }
  /***** footer *****/
  .footer-principal {
    height: 60px; }
    .footer-principal li {
      padding: 8px; }
    .footer-principal img {
      width: 16px; }
  .redes-footer {
    padding: 18px 0 0 12px; }
  .logo-footer {
    padding: 6px 12px 0 0;
    justify-content: right; }
    .logo-footer img {
      width: 18%;
      height: 9%; }
  .copy {
    width: 100%;
    height: 15px; }
    .copy p {
      padding-top: 3px;
      font-size: 9px; }
  /**** Frase accesorios ****/
  .frase {
    width: 100%;
    height: 32px; }
    .frase p {
      font-size: 15px;
      padding-top: 9px; }
  /**** cards accesorios ****/
  .cards-accesorios {
    height: 750px;
    gap: 45px 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr) 2px;
    grid-template-areas: "carta1 carta1 carta2 carta2 carta3 carta3" "carta1 carta1 carta2 carta2 carta3 carta3" "carta4 carta4 carta5 carta5 carta6 carta6" "carta4 carta4 carta5 carta5 carta6 carta6"; }
  /**** footer accesorios ****/
  .footer-principal-2 {
    height: 60px; } }

/**** responsive 1024 ****/
@media (min-width: 1024px) {
  header {
    height: 155px; }
  .baner {
    height: 155px; }
    .baner nav {
      width: 100%;
      padding-top: 122px; }
  .baner nav ul li {
    font-size: 16px; }
  /****logo y redes****/
  .logo {
    width: 50%;
    height: 88%; }
  .redes {
    left: 88%; }
  .redes li {
    padding: 15px; }
  .redes li img {
    width: 23px; }
  /* main descripción */
  .descripcion {
    height: 1080px; }
  .imagenes {
    padding-top: 20px;
    padding-right: 40px;
    width: 100%;
    height: 450px; }
  .familia {
    margin-top: 10px;
    margin-left: 40px;
    width: 55%;
    height: 42%; }
  .texto h2 {
    margin-top: 50px;
    font-size: 32px; }
  .texto p {
    padding: 4px 25px 2px 25px;
    text-align: justify;
    margin-top: 10px;
    font-size: 17px; }
  .familia {
    padding-left: 50px; }
  .collar {
    padding-right: 70px; }
  /**** cards index ****/
  .cards {
    height: 1100px;
    gap: 30px 20px;
    padding: 0 20px 0 20px; }
  /*** call to action ***/
  .call-to-action {
    height: 100px; }
  .call-to-action div h2 {
    font-size: 25px;
    padding: 18px 0 3px 0; }
  .call-to-action div button {
    font-size: 24px;
    padding: 6px 10px 6px 10px;
    border-radius: 22px; }
  /*** footer ***/
  .footer-principal {
    height: 75px; }
  .redes-footer {
    padding: 18px 0 0 20px; }
  .redes-footer li {
    padding: 15px; }
  .redes-footer li img {
    width: 23px; }
  .logo-footer {
    padding: 6px 20px 0 0; }
  .logo-footer img {
    width: 18%;
    height: 9%; }
  .copy {
    height: 25px; }
  .copy p {
    padding-top: 3px;
    font-size: 14px; }
  /**********/
  .frase {
    height: 48px; }
  .frase p {
    font-size: 24px; }
  .cards-accesorios {
    height: 1150px;
    gap: 60px 8px; }
  .carta p {
    font-size: 20px; }
  /***footer***/
  .footer-principal-2 {
    height: 75px; } }

/**** responsive 1250 ****/
@media (min-width: 1250px) {
  header {
    height: 180px; }
  .baner {
    height: 180px; }
  .baner nav {
    width: 100%;
    padding-top: 145px; }
  .baner nav ul li {
    font-size: 19px; }
  /****logo y redes****/
  .logo {
    width: 51%;
    height: 88%;
    left: 25%; }
  .redes {
    left: 88%; }
  .redes li {
    padding: 17px; }
  .redes li img {
    width: 25px; }
  /* main descripción */
  .descripcion {
    height: 1100px; }
  .imagenes {
    padding-top: 20px;
    padding-right: 75px;
    width: 100%;
    height: 450px; }
  .familia {
    margin-left: 45px;
    width: 55%;
    height: 38%; }
  .texto h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px; }
  .texto p {
    padding: 4px 25px 2px 25px;
    text-align: justify;
    margin-top: 10px;
    font-size: 19px; }
  .familia {
    margin-top: 22px;
    padding-left: 50px; }
  .collar {
    padding-right: 70px;
    height: 110%; }
  /**** cards index ****/
  .cards {
    height: 1200px;
    gap: 38px 25px; }
  .carta p {
    font-size: 20px; }
  /*** call to action ***/
  .call-to-action {
    height: 130px; }
  .call-to-action div h2 {
    font-size: 28px;
    padding: 25px 0 8px 0; }
  .call-to-action div button {
    font-size: 26px;
    padding: 8px 12px 8px 12px;
    border-radius: 22px; }
  /*** footer ***/
  .footer-principal {
    height: 75px; }
  .redes-footer {
    padding: 10px 0 0 20px; }
  .redes-footer li {
    padding: 17px; }
  .redes-footer li img {
    width: 25px; }
  .logo-footer {
    padding: 5px 20px 0 0; }
  .logo-footer img {
    width: 16%;
    height: 8%; }
  .copy {
    height: 25px; }
  .copy p {
    padding-top: 3px;
    font-size: 14px; }
  /**********/
  .frase {
    height: 48px; }
  .frase p {
    font-size: 24px; }
  .cards-accesorios {
    height: 1300px;
    gap: 70px 13px; }
  .carta p {
    font-size: 26px; }
  /***footer***/
  .footer-principal-2 {
    height: 75px; } }

/****responsive 1440****/
@media (min-width: 1440px) {
  header {
    height: 188px; }
  .baner {
    height: 188px; }
  .baner nav {
    width: 100%;
    padding-top: 150px; }
  .baner nav ul li {
    font-size: 21px; }
  /****logo y redes****/
  .logo {
    width: 52%;
    height: 88%; }
  .redes {
    left: 89%; }
  .redes li {
    padding: 21px; }
  .redes li img {
    width: 28px; }
  /* main descripción */
  .descripcion {
    height: 1270px; }
  .familia {
    margin: 20px 0 0 100px;
    width: 54%;
    height: 41%; }
  .collar {
    height: 130%;
    padding-right: 90px; }
  .texto h2 {
    margin-top: 140px;
    font-size: 40px; }
  .texto p {
    padding: 4px 25px 2px 25px;
    margin-top: 10px;
    font-size: 22px; }
  .cards {
    height: 1300px;
    gap: 38px 25px; }
  .cards-accesorios {
    height: 1450px;
    gap: 70px 18px; }
  /*** footer ***/
  .footer-principal {
    height: 90px; }
  .redes-footer {
    padding: 14px 0 0 20px; }
  .redes-footer li {
    padding: 18px; }
  .redes-footer li img {
    width: 27px; }
  .logo-footer {
    padding: 5px 20px 0 0; }
  .copy {
    height: 29px; }
  .copy p {
    padding-top: 4px;
    font-size: 16px; }
  /**********/
  .footer-principal-2 {
    height: 90px; } }
