header{
    
    background-color: #fff5eb;
    width: 100%;
    height: 70px;
}

.baner{
    position: relative;
    background-image: url(../assets/image/libro-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70px;
    
}

.logo{
    position: absolute;
    width: 50%;
    height: 90%;
    left: 25%;
    top: 2px;
}


