header{
    
    background-color: #fff5eb;
    width: 100%;
    height: 75px;
}

.logo{
    position: absolute;
    width: 65%;
    height: 90%;
    left: 15%;
    top: 2px;
}

#menu-check:not(:checked) ~nav{
    display: none;
}

#menu-check:checked ~ nav{
    display: block;
}

#menu-check{
    display: none;
}

#menu{
    position: relative;
    color: black;
    background-color: transparent;
    font-size: 1em;
    top: 2px;
    left: 20px;
    z-index: 9999;
}

#menu-cerrar{
    display: none;
}

#menu-check:checked ~ label #menu-abrir{
    display: none;
}

#menu-check:checked ~ label #menu-cerrar{
    display: block;
}

.baner{
    position: relative;
    background-image: url(../assets/image/libro-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75px;
    
}

.baner nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    background-color: #e8dbc5;
    padding-top: 2px;
    padding-right: 20px;
    opacity: 90%;
}

.baner nav ul{
    list-style: none;
    padding: 15px 0 0 20px;
    
}

.baner nav ul li{
    padding: 1px;
    font-size: 7px;
    font-family: 'Bona Nova', serif;
    font-weight: bold;
}

.baner nav ul a{
    color: black;
    text-decoration: none;
}

/* redes */

.redes{
    position: absolute;
    display: flex;
    list-style: none;
    top: 5px;
    left: 85%;
    
}

.redes li{
    padding: 5px;
}

.redes li img{
    width: 12px;
}
