/**** responsive 1250 ****/

@media (min-width: 1250px){
    
    header{
        height: 180px;
    }

    .baner{
        height: 180px;
    }

    .baner nav{
        width: 100%;
        padding-top: 145px;
    }
    
    .baner nav ul li{
        font-size: 19px;
    }

    /****logo y redes****/

    .logo{
        width: 51%;
        height: 88%;
        left: 25%;
    }
    
    .redes{
        left: 88%;
    }

    .redes li{
        padding: 17px;
    }
    
    .redes li img{
        width: 25px;
    }

    /* main descripción */

    .descripcion{
        height: 1100px;
    }

    .imagenes{
        padding-top: 20px;
        padding-right: 75px;
        width: 100%;
        height: 450px;
    }

    .familia{
        margin-left: 45px;
        width: 55%;
        height: 38%;

    }

    .texto h2{
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
    }
    
    .texto p{
        padding: 4px 25px 2px 25px;
        text-align: justify;
        margin-top: 10px;
        font-size: 19px;
    }

    .familia{
        margin-top: 22px;
        padding-left: 50px;
    }

    .collar{
        padding-right: 70px;
        height: 110%;
    }

    /**** cards index ****/


    .cards{
        height: 1200px;
        gap: 38px 25px;
        }
    
    .carta p{
        font-size: 20px;
        }

    /*** call to action ***/

    .call-to-action{
        height: 130px;
    }

    .call-to-action div h2{
        font-size: 28px; 
        padding: 25px 0 8px 0;
    }
    
    .call-to-action div button{
        
        font-size: 26px;
        padding: 8px 12px 8px 12px;
        border-radius: 22px;
    }
    

    /*** footer ***/

    .footer-principal{
        height: 75px;
    }
    
    .redes-footer{
        padding: 10px 0 0 20px;
    }
    
    .redes-footer li{
        padding: 17px;
    }
    
    .redes-footer li img{
        width: 25px;
    }
    
    .logo-footer{
        padding: 5px 20px 0 0;
        
    }
    
    .logo-footer img{
        width: 16%;
        height: 8%;
    }
    
    .copy{
        height: 25px;
    }
    
    .copy p{
        padding-top: 3px;
        font-size: 14px;
    }

    /**********/

    .frase{
        height: 48px;
    }
    
    .frase p{
        font-size: 24px;
    }

    .cards-accesorios{
        height: 1300px;
        gap: 70px 13px;
    }

    .carta p{
        font-size: 26px;
    }

    /***footer***/

    .footer-principal-2{
        height: 75px;
    }

}