.call-to-action{
    button{
        font-family: 'Bona Nova', serif;
        font-size: 16px;
        padding: 2px 6px 2px 6px;
        border-radius: 15px;
        border: 1px solid;
        border-color: #e8dbc5;
        box-shadow: 1px 1px 10px #e8dbc5;
        background-color: #fff5eb;
    }
    button:hover{
        background-color: #fff2e5;
    }
}

